body {
	background-image: url(../images/stone_bg.jpg);
	background-size: cover;
	font-family: "Josefin Sans", "Courier New", monospace;
	color:#FFFFFF;
	font-size: 20px;
	text-align: center;
}

p {
	max-width: 1000px;
	text-align: center;
	margin:0 auto;
}

ul {
    text-align: center;
    list-style-type: none;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: black;
	line-height: 10px;
}
h2 {
	color: white;
	font-size: 40px;
}

#slogan {
	font-style: italic;
}

hr {
	width: 200px;
}